<div class="l-h-list">
  <p class="item schedule-text-middle">Same as:  </p>
  <ul class="item l-h-list guru-schedule-copy-links">
    {{#each days}}
    <li class="item">
      <a data-day_code="{{attributes.day_code}}">
        {{attributes.day_code}}
      </a>
    </li>
    {{/each}}
  </ul>
</div>