<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="81zLY71gHpdxwO9A152uUoLXDdUfeoQ6Ek5tlh20WX0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Guitar With Guru | Play with the best guitarists across the globe</title>
  <meta name="description" content="Learn playing guitar (the way it's meant to be) from the best indie guitarists across the globe.">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/stylesheets/css/new_design.css?v=@@timestamp">
  <link rel="icon" type="image/ico" href="/favicon.ico">
  <script type="text/javascript" src="//use.typekit.net/uox1gdj.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>
<section>
  {{{body}}}
</section>

</body>
</html>