<div class="cover-container text-white">
  <div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand">Guitar With Guru</h3>
      <ul class="nav masthead-nav" id="primary-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/g">Gurus</a></li>
      </ul>
    </div>
  </div>
</div>

<section class="background-green page-block">
  <div class="container">
    <div class="row  text-white">
      <div class="">
        <h3 class="text-center text-bold">Setup in 3 easy steps</h3>
        <ul class="list-unstyled l-v-list nav-steps">
          <li class="item active">
            <p>Create an account</p>
            <div class="mb-10"></div>
            <a href="/auth/facebook">
              <img src="/images/fb/active_404.png" alt=""/>
            </a>
          </li>

          <li class="item">
            <p>Create a few courses</p>
          </li>

          <li class="item">
            <p>Create weekly schedule</p>
          </li>

        </ul>

      </div>
    </div>
  </div>
</section>

<section class="background-red page-block">
  <div class="container text-white">
    <h3 class="text-bold text-center">Become a Guru</h3>
    <p class="h4 text-center">Share what you know, Make a difference.</p>
    <div class="mb-60"></div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="feature-item">
          <div class="feature-item-icon">
            <i class="fa fa-music" style="color: #e67e22"></i>
          </div>
          <h3 class="feature-item-title">
            Promote your guitar style.
          </h3>
          <p class="feature-item-desc">
            Every guitarist is unique in himself.
            Teach what you do best and create a niche in the market.
          </p>
        </div>

      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-item">
          <div class="feature-item-icon ">
            <i class="fa fa-building-o" style="color: #2980b9"></i>
          </div>
          <h3 class="feature-item-title">
            Comfort of your house.
          </h3>
          <p class="feature-item-desc">
            Take lessons from wherever you are.
            Connect to the Internet and start teaching.
          </p>
        </div>

      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-item">
          <div class="feature-item-icon ">
            <i class="fa fa-cogs" style="color: #95a5a6"></i>
          </div>
          <h3 class="feature-item-title">
            Easy schedule management.
          </h3>
          <p class="feature-item-desc">
            Take lessons from wherever you are.
            Connect to the Internet and start teaching.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-item">
          <div class="feature-item-icon ">
            <i class="fa fa-money" style="color: #bdc3c7"></i>
          </div>
          <h3 class="feature-item-title">
            Charge what you want.
          </h3>
          <p class="feature-item-desc">
            Take lessons from wherever you are.
            Connect to the Internet and start teaching.
          </p>
        </div>

      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-item">
          <div class="feature-item-icon ">
            <i class="fa fa-google-plus" style="color: #e74c3c"></i>
          </div>
          <h3 class="feature-item-title">
            Teach live on Google Hangouts
          </h3>
          <p class="feature-item-desc">
            Take lessons from wherever you are.
            Connect to the Internet and start teaching.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-item">
          <div class="feature-item-icon ">
            <i class="fa fa-video-camera" style="color: #2c3e50"></i>
          </div>
          <h3 class="feature-item-title">
            Inspire people by teaching.
          </h3>
          <p class="feature-item-desc">
            Take lessons from wherever you are.
            Connect to the Internet and start teaching.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>