<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-white">
        <h3 class="text-center text-bold">Setup in 3 easy steps</h3>
        <ul class="list-unstyled l-v-list nav-steps">
          <li class="item active">
            <p>Create an account</p>
            <div class="mb-10"></div>
            <a href="/auth/facebook">
              <img src="/images/fb/active_404.png" alt=""/>
            </a>
          </li>

          <li class="item">
            <p>Create a few courses</p>
          </li>

          <li class="item">
            <p>Create weekly schedule</p>
          </li>

        </ul>

      </div>
      <div class="col-md-8">

      </div>
    </div>
  </div>
</section>