{{> "logged_in_header"}}

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div style="margin-bottom: 20px;"></div>
      {{> "logged_in_navigation"}}
    </div>
    <div class="col-md-9">
      <h3>Manage Schedule</h3>
      <p class="text-light">
        People will make reservations against these timings.
      </p>
      <p class="text-light gwg-callout gwg-callout-info">
        * When we are close to launch, we'll let you fine tune schedule for each date.
      </p>

      <div id="scheduleCreator">
      </div>
    </div>
  </div>
</div>
{{> logged_in_footer}}
<script src="/bower_components/underscore/underscore-min.js"></script>
<script src="/bower_components/jquery/jquery.min.js"></script>
<script src="/bower_components/moment/min/moment.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/bootstrap-formhelpers/dist/js/bootstrap-formhelpers.min.js"></script>
<script src="/bower_components/react/react.js"></script>
<script src="/bower_components/react/JSXTransformer.js"></script>
<script type="text/jsx" src="/scripts/guru/schedule.js"></script>