{{> "logged_in_header"}}

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div style="margin-bottom: 20px;"></div>
      {{> "logged_in_navigation"}}
    </div>
    <div class="col-md-9">
      <div id="courseManagement"></div>
    </div>
  </div>
</div>
<script src="/bower_components/jquery/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/react/react.js"></script>
<script src="/bower_components/react/JSXTransformer.js"></script>
<script type="text/jsx" src="/scripts/guru/courses/index.js"></script>