<div class="background-green">
  <div class="cover-container text-white">
    <div class="clearfix">
      <div class="inner text-center">
        <h3 class="masthead-brand">
          <img src="/images/nav-logo-bold.png" alt="guitar with guru"/>
        </h3>
        <ul class="nav masthead-nav" id="primary-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/g">Gurus</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="background-green page-block">
  <div class="container">
    <div class="row  text-white">
      <div class="">
        <h3 class="text-center text-bold">Setup in 3 easy steps</h3>
        <ul class="list-unstyled l-v-list nav-steps">
          <li class="item active">
            <p>Create an account</p>
            <div class="mb-10"></div>
            <a href="/auth/facebook">
              <img src="/images/fb/active_404.png" alt=""/>
            </a>
          </li>

          <li class="item">
            <p>Create a few courses</p>
          </li>

          <li class="item">
            <p>Create weekly schedule</p>
          </li>

        </ul>

      </div>
    </div>
  </div>
</section>

<section class="background-red page-block">
  <div class="container text-white">
    <h3 class="text-bold text-center">Become a Guru</h3>
    <p class="h4 text-center">Share what you know, Make a difference.</p>
    <div class="mb-60"></div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="feature-item">
          <div class="feature-item-icon">
            <i class="fa fa-music" style="color: #e67e22"></i>
          </div>
          <h3 class="feature-item-title">
            Promote your guitar style
          </h3>
          <p class="feature-item-desc text-light">
            Every guitarist is unique in himself.
            Teach what you do best. Popularize the unique you.
          </p>
        </div>

      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-item">
          <div class="feature-item-icon ">
            <i class="fa fa-home" style="color: #2980b9"></i>
          </div>
          <h3 class="feature-item-title">
            Location of your choice
          </h3>
          <p class="feature-item-desc text-light">
            Take classes from wherever you are.
            Connect to the Internet and start teaching.
          </p>
        </div>

      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-item">
          <div class="feature-item-icon ">
            <i class="fa fa-cogs" style="color: #95a5a6"></i>
          </div>
          <h3 class="feature-item-title">
            Easy schedule management
          </h3>
          <p class="feature-item-desc text-light">
            Need to cancel a few days of classes while you're out on a tour?
            We've got it covered.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-item">
          <div class="feature-item-icon ">
            <i class="fa fa-money" style="color: #bdc3c7"></i>
          </div>
          <h3 class="feature-item-title">
            Charge what you want
          </h3>
          <p class="feature-item-desc text-light">
            We are not a single price subscription based platform.
            You decide your worth and get paid for it.
          </p>
        </div>

      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-item">
          <div class="feature-item-icon ">
            <i class="fa fa-google-plus" style="color: #e74c3c"></i>
          </div>
          <h3 class="feature-item-title">
            Classes over Google Hangouts
          </h3>
          <p class="feature-item-desc text-light">
            A platform that works across all smart devices.
            Take classes on your laptop, iPad or any Android device.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="feature-item">
          <div class="feature-item-icon ">
            <i class="fa fa-video-camera" style="color: #2c3e50"></i>
          </div>
          <h3 class="feature-item-title">
            Your own online academy
          </h3>
          <p class="feature-item-desc text-light">
            By creating courses that define you
            , you create an exceptional fan base that promotes your music.
          </p>
        </div>

      </div>
    </div>
    <div class="text-center">
      <div>
        <a href="/auth/facebook">
          <img src="/images/fb/active_404.png" alt=""/>
        </a>
      </div>

      <div class="">
        <div class="inner">
          <p>&copy; 2014 | Guitar With Guru</p>
        </div>
      </div>

    </div>

  </div>
</section>