<style>
  /* Fretboard Container/Wrapper */

  #container {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-top: 20px solid #fff;
  }
  #dummy {
    padding-top: 115.38461538%; /* result of 30/26, via http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio */
  }
  #fretboard {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/images/fretboard.svg) no-repeat;
    background-size: cover;
  }

  /* Fretboard Content */

  .dot {
    width: 12.5%;
    height: 16.6666667%;
    display: block;
    float: left;
  }
  .dot-full  .svg-dot { fill: #865C33; }
  .dot-empty .svg-dot { fill: transparent; }
  
  [data-seq] {
    /*opacity: 0;*/
    position: relative;
  }
  
  .line {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%
  }
</style>
<!--<pre class="replaceMe" style="display: none">
      ^2^5^7   
  | | | | o8|   
  | | o3o6| |   
  | o1o4| | |   
  | | | | | |   
  
</pre>-->
<pre class="replaceMe" style="display: none">
                
  | | | | o3|   
  | | o2| | |   
  | o1| | | |   
  | | | | | |   
  
</pre>
<div id="marketing">
  <div class="header">
    <div class="container">
      <div class="row" style="margin-bottom: 120px">
        <img src="/images/nav-logo-bold.png" alt="Guitar With Guru Logo" style="height:80px; margin-left: 40px;">
      </div>
      <div class="row center">
        <h1 class="tagline">
          Be the rockstar you've always wanted to be.
        </h1>

        <p class="sub-tag">Live guitar sessions by exceptional musicians</p>

        <input type="search" class="form-control input-lg header-search" id="" placeholder="What would you like to learn?" />
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 80px;">
    <div id="container">
      <div id="dummy"></div>
      <div id="fretboard"></div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>
  var dot = '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 52 80" enable-background="new 0 0 52 80" xml:space="preserve">\
              <circle class="svg-dot" fill="#865C33" cx="26" cy="40" r="18"/>\
            </svg>';

  var string_o = '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"\
   width="100%" height="100%" viewBox="0 0 52 80" enable-background="new 0 0 52 80" xml:space="preserve">\
<g>\
  <path fill="#865C33" d="M26,24c5.514,0,10,4.486,10,10s-4.486,10-10,10s-10-4.486-10-10S20.486,24,26,24 M26,16\
    c-9.94,0-18,8.06-18,18s8.06,18,18,18s18-8.06,18-18S35.94,16,26,16L26,16z"/>\
</g>\
</svg>';

  var string_x = '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"\
   width="100%" height="100%" viewBox="0 0 52 80" enable-background="new 0 0 52 80" xml:space="preserve">\
<path fill="#865C33" d="M41.067,43.831L31.236,34l9.831-9.831c-1.365-2.087-3.149-3.871-5.236-5.236L26,28.764l-9.831-9.831\
  c-2.087,1.365-3.871,3.149-5.236,5.236L20.764,34l-9.831,9.831c1.365,2.087,3.149,3.871,5.236,5.236L26,39.236l9.831,9.831\
  C37.918,47.702,39.702,45.918,41.067,43.831z"/>\
</svg>';
  
  var line = function(x1, y1, x2, y2) {
    return '<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" xml:space="preserve">\
                  <line x1="'+x1+'" x2="'+x2+'" y1="'+y1+'" y2="'+y2+'" stroke-width="4" stroke="#e9f0f3"/>\
                </svg>';
  };

  $(document).ready(function(){

    // Read ASCII fretboard text & prep it

    // Read the ASCII fretboard that'll be replaced
    var toReplace = $('.replaceMe').html();
    // Split the ASCII freboard text into an array of individual characters
    toReplace = toReplace.match(/.{1,2}/g);

    // Go through ASCII characters, inject HTML+SVG as needed

    var replacement = "";
    $.each( toReplace, function(i,ele) {
      var el = ele[0];
      var seq = ele[1];
      if (el == "o") {
        replacement += "<div class='dot dot-full' data-seq="+seq+">"+dot+"</div>";
      } else if (el == "^") {
        replacement += "<div class='dot dot-full' data-seq="+seq+">"+string_o+"</div>";
      } else if (el == "x") {
        replacement += "<div class='dot dot-full'>"+string_x+"</div>";
      } else if ((el == "|") || (el == " ")) {
        replacement += "<div class='dot dot-empty'></div>";
      }
    });

    // Update the page with the new HTML/SVG markup

    var fretBoardDOM = $('#fretboard');
    fretBoardDOM.append(replacement);

    var inSeqElements = fretBoardDOM.find('[data-seq]'),
        len = inSeqElements.length;
    
/*    function showNext() {
      if (i++ <= len) {
        fretBoardDOM.find("[data-seq="+i+"]").animate({opacity: 1}, 1000, showNext);
      }
    }*/
    
    
    var line_svg = '';
    var getPath = function () {
      var i = 0;
      var lastEndPoint = {
        x: 0,
        y: '100%'
      };
      
      while (i < len) {
        var startPoint, endPoint, next = (i+1);
        startPoint = lastEndPoint;
        endPoint = fretBoardDOM.find("[data-seq="+next+"]").position();
        endPoint.x = parseInt(endPoint.left + 36);
        endPoint.y = parseInt(endPoint.top + 24);

        if (i == 0) {
          //first point
          line_svg += 'M 0 ' + parseInt(fretBoardDOM.css('height'));
        }
        
        else if (next == len) {
          //last point
          //interpolate the slope to the end of graph in the 4th quadrant
          var slope = (endPoint.y - startPoint.y)/ (-startPoint.x + endPoint.x);
          endPoint.x = parseInt(fretBoardDOM.css('width'));
          endPoint.y = parseInt((100 + (slope * 100) - 16) /100 * parseFloat(fretBoardDOM.css('height')));

          line_svg += ' L ' + endPoint.x + ' ' + endPoint.y;
          
        } else {
          line_svg += ' L ' + endPoint.x + ' ' + endPoint.y;
        }

        lastEndPoint = endPoint;
        i++;
      }
      
    };
    
    //populate the line_svg var with path
    getPath();

    //create the actual path elem
    var path = function(){
      return '\
      <div class="line">\
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" xml:space="preserve">\
          <path fill="none" stroke="#e9f0f3" stroke-width="6" d="' + line_svg +'"/>\
        </svg></div>'; 
    };
    
    var calcPath = path();
    
    //prepend it to dom to put it under the dots
    fretBoardDOM.prepend(calcPath);

    path = document.querySelector('.line path');
    var length = path.getTotalLength();
// Clear any previous transition
    path.style.transition = path.style.WebkitTransition =
        'none';
// Set up the starting positions
    path.style.strokeDasharray = length + ' ' + length;
    path.style.strokeDashoffset = length;
// Trigger a layout so styles are calculated & the browser
// picks up the starting position before animating
    path.getBoundingClientRect();
// Define our transition
    path.style.transition = path.style.WebkitTransition =
        'stroke-dashoffset 1s ease-in';
// Go!
    path.style.strokeDashoffset = '0';
  });
</script>