<img class="bg" src="/images/bg.jpg" alt=""/>
<nav class="navbar navbar-fixed-top bg-brand" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img class="navbar-logo" src="/images/nav-logo-bold.png" alt="Guitar With Guru"/>
      </a>
    </div>
  </div>
</nav>
<div class="container" style="padding-top: 120px;">
  <div class="row text-white text-center">
    <h1 class="mb-30">Welcome! Let's get started.</h1>
    <div class="mb-20">
      <a href="/auth/user/google">
        <img class="wd-gplus" src="/images/sign-in-with-google.png" alt="Login with Google"/>
      </a>
    </div>
    {{#if params.m}}
      <h5 style="color: #e0e0e0">( P.S. Don't worry about the schedule. It's safe with us. )</h5>
    {{/if}}
  </div>
</div>