<img class="bg" src="/images/bg.jpg" alt=""/>
<nav class="navbar navbar-fixed-top bg-brand" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img class="navbar-logo" src="/images/nav-logo-bold.png" alt="Guitar With Guru"/>
      </a>
    </div>
  </div>
</nav>
<div class="container" style="margin-top: 150px;">
  <div class="row">
    <h3 class="text-heading">Event #1</h3>
  </div>
  <div class="row">
    <div class="col-sm-3 col-xs-12 hidden-xs text-white hacked-event-text">
      <img src="/images/events/rahul_ranganath.jpg" alt="Rahul Ranganath"/>
      <h4><strong>Rahul Ranganath</strong> from The Bicycle Days</h4>
      <h5>On Country style finger picking</h5>
    </div>
    <div class="col-sm-9 col-xs-12">
      <iframe style="display: block; margin: 0 auto;" width="560" height="315" src="//www.youtube.com/embed/p1q3aPvCuBg" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<script>
  mixpanel.track('Visited Rahul Ranganath Event Page');
</script>