<html>
<head>
  <title>Free Live Guitar session on Country style finger picking with Rahul from the Bicycle Days</title>
</head>
<body>
<p>
  Hi,<br /><br/>

  You are receiving this email because you showed interest in Guitar with Guru a few days back.
  <br /><br />

  ===============================================================

  <br /><br />

  As we approach our launch, we present to you a series of free music sessions by some amazing musicians.
  <br /><br />
  Kicking off the series is <a href="https://www.facebook.com/rahul.ranganath">Rahul Ranganath</a> from the band
  <a href="http://www.reverbnation.com/thebicycledays">The Bicycle Days</a>. He will be teaching what <b>Country style finger picking</b> is all about, jam with a few of you and try to answer as many questions as possible.
  <br /><br />
  Here's how he describes himself:
  <br /><br />
  "A Guitarist, Producer, Freelance Live sound engineer . Spent most of the past few years playing and writing with "The Bicycle Days". I currently produce other artists . I teach music production and guitar . And I'm the resident sound engineer at The Humming Tree in Bangalore."
  <br /><br />
  So, <a href="http://guitarwith.guru/events">grab your free passes for the event</a>. It happens over <b>Google Hangout</b> so that you can spend your lazy Sunday afternoon jamming with the best at the place of your choice.
  <br /><br />
  <b>Yes, it is free</b> and there is no catch. There's a small request though. Please like/ share this with people who might be interested and show us some ♥
  <br /><br />
  See you with your guitars this Sunday afternoon!
</p>

<p>
  Aakash &amp; Ram
  <br />
  Guitar with Guru
</p>
</body>
</html>