$time-slot-unit-size: 95px;
$time-slot-unit-margin: 15px;
.time-slot-container {
  > .item  {
    float: left;
    margin-right: $time-slot-unit-margin;

    &:last-child {
      margin-right: 0;
    }
  }
  .time-slot-unit {
    width: $time-slot-unit-size;
  }

  input[type="text"].form-control {
    background: #fff;
  }
}

.l-h-list {
  list-style-type: none;
  margin: 0; padding: 0;
  overflow: hidden;

  > .item {
    float: left;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }

  }
}