@import "colors";

.text-white {
  color: #fff;
}

.text-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-light {
  font-weight: 300;
  color: #676767;
}

.text-heading {
  color: $color-brown;
  text-transform: uppercase;
}

.text-charcoal {
  color: $color-charcoal;
}