@charset "UTF-8";
$icon-font-path: "../../bower_components/bootstrap-sass/vendor/assets/fonts/bootstrap/";
$brand-primary: #865C33;
$font-family-sans-serif: "droid-sans";
$font-family-serif: "museo-slab";
$border-radius-base: 3px;
$border-radius-small: 2px;
$border-radius-large: $border-radius-base;
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/bootstrap';
@import 'default';
@import 'default.time';
@import 'blueimp-gallery';
@import 'blueimp-gallery-video';
@import 'fullcalendar';
@import 'font-awesome/scss/font-awesome';
@import 'typography';
@import 'modules';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  cursor: pointer;
}

p {
  font-family: $font-family-serif;
}

img {
  max-width: 100%;
}

a.underline {
  text-decoration: underline;
}

.block  {
  display: block;
}

.addNewSlot {
  margin-right: 15px!important;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/*
 * Base structure
 */

body {
  background: #fff;
}

html,
body,
#content {
  height: 100%;
}

.lead {
  margin-bottom: 45px;
}

.navbar-brand {
  height: auto;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-left: auto;
  margin-right: auto;
}
.cover-heading {
  font-family: "pragmatica-web";
}
/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 0;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
    margin-top: 20px;
  }
}


/*
 * Cover
 */

.cover {
  padding: 30px;
  border-radius: 10px;
  background:rgba(0,0,0,0.5);
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

@mixin center-middle($dimension) {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  height: $dimension + px;
  width: $dimension + px;
  margin-top: ($dimension * -1)/2 + px;
  margin-left: ($dimension * -1)/2 + px;

}

.m-0 {
  margin: 0;
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-60 {
  margin-bottom: 60px;
}

.mt-0 {
  margin-top: 0px;
}
.mt-20 {
  margin-top: 20px;
}

.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}

.pad-10 {
  padding: 10px;
}

.capitalize {
  text-transform: capitalize;
}

.inline-block {
  display: inline-block;
  vertical-align: bottom;
}

.day-slots-container {
  margin: 10px 0;
  padding: 15px 20px;
  border-radius: 3px;
}

.schedule-text-middle {
  line-height: 34px;
  margin: 0;
}

.daySlotsContainer > div {
  margin-top: 10px;
  &:first-child {
    margin-top: 0;
  }
}

.guru-schedule-copy-links {
  a {
    @extend .schedule-text-middle;
    text-transform: capitalize;
    color: #BBBBBB;

    &.selected {
      text-decoration: underline;
      color: $link-color;
    }
  }
}

#signup-form {
  input, button {
    transition: 0.2s all ease-in;
  }
}

.background-green {
  background: #2ecc71;
}
.background-red {
  background: #7f8c8d;
}

.page-block {
  padding: 40px 0 40px 0;
}

.gwg-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}

.gwg-callout-info {
  background-color: #f4f8fa;
  border-color: #5bc0de;
}

.gwg-callout-warning {
  background-color: #fcf8f2;
  border-color: #f0ad4e;
}

@media only screen and (min-width: $screen-sm-min) {
  .has-min-height {
    min-height: 360px;
    position: relative;
  }
}

.bg-brand {
  background: #f1f1e5;
}

.bg-white {
  background: #fff;
}

.spacious {
  padding: 20px 15px;
}

.loader {
  height: 100%;
  text-align: center;
  img {
    position: absolute;
    top: 50%; left: 50%;
    margin-top: -20px;
    margin-left: -20px;
  }
}

.mt--4 {
  margin-top: -4px;
}

.youtube-play {
  position: relative;
  display: block;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-image: url(/images/youtube_play.png);
    background-size: 80px 45px;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    width: 100%;
    z-index: 1000;
  }

  &:before {
    transition: all 0.1s ease-in;
    z-index: 999;
    background: rgba(0,0,0,0.1);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &:hover:before {
    background: rgba(0,0,0,0.2);
  }

}
.wd-gplus {
  width: 212px;
}

.display-ib {
  display: inline-block;
}

.btn-loading {
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,
    color-stop(.25, rgba(0, 0, 0, .10)),
    color-stop(.25, transparent),
    color-stop(.5, transparent),
    color-stop(.5, rgba(0, 0, 0, .10)),
    color-stop(.75, rgba(0, 0, 0, .10)),
    color-stop(.75, transparent),
    to(transparent));
  background-image:
    -moz-linear-gradient(-45deg,
      rgba(0, 0, 0, .10) 25%,
      transparent 25%,
      transparent 50%, rgba(0, 0, 0, .10) 50%,
      rgba(0, 0, 0, .10) 75%,
      transparent 75%, transparent
    );
  background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -webkit-background-size: 50px 50px;
  -webkit-animation: animate-stripes 2s linear infinite;
}

@-webkit-keyframes animate-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -50px 0;
  }
}

.game {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.tile {
  display: block;
  padding: 6px 10px;
  background: #efefef;
  border: 1px dashed #fefefe;
  border-radius: 3px;
  color: #565656;
  margin-bottom: 4px;
}

.board {
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  min-height: 360px;
}

.tray {
  position: absolute;
  right: 0; top: 0;
  width: 50%;
  background: #aaa;
  min-height: 60px;
  padding: 10px;
}

.tray .tile {
  margin: 0 0 10px 0;
}

.navbar-logo {
  height: 50px;
}

.navbar-profile {
  background: rgba(21, 21, 21, 0.9);
  border-style: solid;
  border-color: $color-black;
}

.guru-image {
  border: 2px solid #eee;
  padding: 3px;
  border-radius: 3px;
  height: 150px;
}

.guru-name {
  font-weight: 900;
  text-transform: uppercase;
  color: $color-brown;
}

.guru-band {
  @extend .lead;
  color: $color-charcoal;
}

.guru-about-me {
  font-weight: 200;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: $color-grey;
}

.schedule-container {
  background: #fff;
  padding: 15px;
  border-top: 3px solid #b7a85c;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 2px solid #ccc;
}

.list-guru-courses {
  > li {
    padding: 30px 5px;
    border-bottom: 1px solid #ddd;
    &:last-child {
      border-bottom: none;
    }

    .item-heading {
      margin: 0 20px 0 0;
    }

    .guru-audience-list {
      vertical-align: bottom;
    }

    .audience-item {
      display: inline-block;
      width: 30px;
      padding: 3px 0;
      text-align: center;
      font-weight: bold;
      color: #fff;
      text-shadow: 0 1px 0px rgba(0,0,0,0.5);
      background: #f1c40f;

      &.beg {
        background: #40d47e;
      }

      &.adv {
        background: #e46a6b;
      }
    }
  }
}
.course-action {
  position: absolute;
  top: -8px;
  right: 15px;
}

.hacked-event-text {
  h4 {
    color: #ccc;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

div.calendar-trash{
  float: left;
  padding-right: 8px;
  margin-right:5px;
  padding-left:8px;
  cursor: pointer;
  font-size: 22px;
}

.to-trash{
  background-color:#EAEAEA;
  -webkit-border-radius: 5em;
  border-radius: 5em;
}
