<html>
<head>
  <title>Free Live Guitar session on Country style finger picking with Rahul from the Bicycle Days</title>
</head>
<body>
<p>
  Hi <%=name%>,

  <br /><br/>

  We are minutes away from the live event.

  <br /><br/>
  You will be receiving a Google Hangouts request at 3:45pm on this same email id.

  <br /><br/>
  Make sure you accept the hangout request to be a part of the main event.

  <br /><br/>
  Just in case you miss the request, you will be able to follow the live event <a href="http://guitarwith.guru/events">here</a>.
</p>

<p>
  Aakash &amp; Ram
  <br />
  Guitar with Guru
</p>
</body>
</html>