<html>
<head>
  <title>Free Live Guitar session on Country style finger picking with Rahul from the Bicycle Days</title>
</head>
<body>
<p>
  Hi <%=name%>,<br /><br/>

  We know you are eagerly waiting for the upcoming event: <strong>Guitar session on Country style finger picking</strong>
  happening this Sunday, 24th March 2014.

  <br /><br />

  ===============================================================

  <br /><br />

  The number of people who have registered for the event has certainly surpassed our expectations.

  <br /><br />

  Since you might be aware that Google Hangouts has a limit on the number of guests in a single conference,
  so we've decided to invite 5 of you to directly interact with our guru while the rest of you get to watch the live stream
  and ask him questions, of course.

  <br /><br />

  So lets make this "reserving-your-spot" thingy a fastest finger first game.

  <br /><br />

  Reply back to this email as soon as you can to reserve your spot.

  <br /><br />

  Also, since it's an interactive session, <a href="http://guitarwith.guru/tuner">tune in your guitar</a>,
  make sure you have a decent webcam
  and fast enough network connection to go along. (Atleast a 2 Mbps connection is recommended)

  <br /><br />

  We'll send the final set of instructions on Sunday morning before we start jamming in the afternoon.

  That's all. Let's rock!

  <br /><br />

  <strong>P.S.</strong> Here's a shortcut to all of this.
  Post an awesome picture of yours with your guitar <a href="https://www.facebook.com/guitarwithguru">on our facebook page</a>
  and we'll make sure you are in.

</p>

<p>
  Aakash &amp; Ram
  <br />
  Guitar with Guru
</p>
</body>
</html>