<html>
<head>
  <title>Free Live Guitar session on Country style finger picking with Rahul from the Bicycle Days</title>
</head>
<body>
<p>
  Hi <%=name%>,<br /><br/>

  We know you are eagerly waiting for the upcoming event: <strong>Guitar session on Country style finger picking</strong>
  happening tomorrow Sunday, 24th March 2014.

  <br /><br />

  ===============================================================

  <br /><br />

  <strong>Good news: Your registration for the event is confirmed.</strong>

  <br /><br />

  Here's how we are going about it.

  <br /><br />

  - You will receive a Google Hangouts video request at 03:45pm. It would be great if you accept the request immediately.

  <br /><br />

  - This will help you setup your webcam and ensure that your guitar is in tune.
  You can use the <a href="http://guitarwith.guru/tuner">Guitar tuner</a> we've put in place to tune it.

  <br /><br />

  - If you miss the call, we might have to put you in the viewers group to make sure that we stay on time.
  You will be able to follow the live stream of the event at all times.

  <br /><br />

  Again, since everything happens online, make sure you have a decent Internet connection (2+ Mpbs recommended)
  and a decent web camera to begin with.

  <br /><br />

  And....That's it. Let's rock!

  <br /><br />

  <strong>P.S.</strong> The event would be recorded and later made available on our website.
  So we hope that we won't catch you sleepy eyed during the event :-)

</p>

<p>
  Aakash &amp; Ram
  <br />
  Guitar with Guru
</p>
</body>
</html>