<div class="row" data-daycode="{{dayCode}}">
  <div class="col-sm-2 text-left">
    <p class="schedule-text-middle"> {{ dayName }}</p>
  </div>
  <div class="col-sm-7">
    <div class="daySlotsContainer"></div>
    <div class="copyModeContainer"></div>
  </div>
  <div class="col-sm-3 text-right">
    <a class="schedule-text-middle addNewSlot" title="Add New Slot"><i class="glyphicon glyphicon-plus"></i></a>
    <a class="schedule-text-middle clearAllDaySlots" title="Remove All Slots"><i class="glyphicon glyphicon-trash"></i></a>
  </div>
</div>