<html>
<head>
  <title>Free Live Guitar session on Country style finger picking with Rahul from the Bicycle Days</title>
</head>
<body>
<p>
  Hi <%=name%>,<br /><br/>

  In the haste, I screwed up tomorrow's date. It happens to be 30th March after all.

  Sincere Apologies.

</p>

<p>
  Aakash
  <br />
  Guitar with Guru
</p>
</body>
</html>